h1{


    text-align: center;
    font-family:'Libre Baskerville', serif;
    font-size: 3em;
    
    
    }

    h3{

        text-align: left;
        font-family: 'Libre Baskerville', serif;
    }

    

    p{
        font-family: 'Libre Baskerville', serif;
        

    }

    h5{
        font-family: 'Libre Baskerville', serif;

    }

    footer{
        background-color: rgb(131, 60, 131);
        color: white;
    }


    h6{
        font-family: 'Libre Baskerville', serif;

    }

    

    

    

    

    

    

    

   

    
    
    